.form {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: 2px solid var(--primary-color);
    border-radius: 25px;
}

.form__description * {
    margin-bottom: 20px;
}

.form__title{
    color: var(--secondary-color);
}

.form__description-text{
    font-size: var(--normal-text-size);
}

.form__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form__meta{ display: none; }

.form__label {
    color: var(--primary-color);
    font-size: var(--label-text-size);
    font-weight: bold;
}

.form__input {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: var(--label-text-size);
    resize: none;
}

.form__input:focus{
    outline: 2px double var(--secondary-color);
}

.form__send {
    padding: 20px;
    border: 2px outset var(--secondary-color);
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: #fff;
    font-size: var(--label-text-size);
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.form__send:active{
    border-style: inset;
}

/* MODAL MESSAGE */
.message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    padding: 20px;
    border-radius: 15px;
    background-color: #FFF;
    color: var(--text-color);
    box-shadow: 10px 10px 3px #F2F2F2,
                -2px -2px 2px #F2F2F2;
}

.message__icon{
    font-size: 80px;
    color: #006400;
}

.message__icon--error{
    color: #8B1000;
}

.message__title{
    font-size: 24px;
    text-align: center;
}

.message__text{
    margin: 20px 0 40px;
    font-size: 20px;
}

.message__button-area{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.message__button{
    display: block;
    padding: .5em 1em;
    border-radius: 5px;
    background-color: #FFB100;
    color: #FFF;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

@media (min-width: 1024px){
    .form {
        flex-direction: row;
        justify-content: space-around;
    }

    .form__description {
        max-width: 35%;
        font-size: 2em;
    }
}