.form {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: 2px solid var(--primary-color);
    border-radius: 25px;
}

.form__description * {
    margin-bottom: 20px;
}

.form__title{
    color: var(--secondary-color);
}

.form__description-text{
    font-size: var(--normal-text-size);
}

.form__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form__meta{ display: none; }

.form__label {
    color: var(--primary-color);
    font-size: var(--label-text-size);
    font-weight: bold;
}

.form__input {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: var(--label-text-size);
    resize: none;
}

.form__input:focus{
    outline: 2px double var(--secondary-color);
}

.form__send {
    padding: 20px;
    border: 2px outset var(--secondary-color);
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: #fff;
    font-size: var(--label-text-size);
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.form__send:active{
    border-style: inset;
}

@media (min-width: 1024px){
    .form {
        flex-direction: row;
        justify-content: space-around;
    }

    .form__description {
        max-width: 35%;
        font-size: 2em;
    }
}