@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@700&family=Open+Sans:wght@700&display=swap');

/* DEFAULTS */
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    --primary-color: #7446CE;
    --secondary-color: #FFB100;
    --lighter-gray-color: #F2F2F2;
    --darker-gray-color: #EEEEEE;
    --text-color: #111111;
    --label-text-size: 20px;
    --title-text-size: 30px;
    --subtitle-text-size: 26px;
    --big-icon-size: 80px;
    --icon-size: 22px;
    --normal-text-size: 18px;
    --menu-text-size: 18px;
    font-size: 10px;
    font-family: 'Open Sans', Arial, sans-serif;
    scroll-behavior: smooth;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

/* HEADER E MENU */
.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 4em 1em;
    color: var(--primary-color);
}

.logo{
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 40px;
    width: 80%;
    background-color: #fff;
    font-size: var(--menu-text-size);
    font-weight: bold;
    visibility: hidden;
    z-index: 3;
}

.menu--active {
    visibility: visible;
    top: 80px;
    transition: .3s;
}

.menu__item-container {
    list-style-type: none;
}

.menu__item {
    position: relative;
    border-bottom: 1px solid #000;
    overflow-x: hidden;
}

.menu__item--highlighted {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.menu__item--active{
    background-color: var(--primary-color);
}

.menu__item--active a, .menu__item--active button{
    color: var(--secondary-color);
}

.menu__link {
    position: relative;
    display: block;
    padding: 15px;
    width: 100%;
    color: #000;
    font-family: 'Poppins', Helvetica, sans-serif;
    z-index: 1;
}

.menu__item-clapboard {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    transform: rotate(160deg);
    transform-origin: right;
    transition: transform .3s;
}

.menu__item:hover .menu__item-clapboard {
    transform: rotate(0deg);
}

.menu__item:hover * {
    color: #fff;
}

.menu__item:hover .menu__item-clapboard {
    transform: rotate(0deg);
    transition: transform .3s;
}

.menu__dropdown-button {
    padding: 5px;
    color: #000;
    font-weight: bold;
    font-size: 30px;
    transform: rotate(-360deg);
    transition: transform .3s;
    z-index: 1;
}

.menu__dropdown-button--rotate {
    transform: rotate(180deg);
}

.menu__dropdown-links {
    background-color: var(--darker-gray-color);
    text-indent: 20px;
}

.menu__dropdown-links--invisible {
    height: 0;
    overflow: hidden;
}

.menu__item-clapboard--child {
    opacity: .6;
}

.menu-button {
    color: var(--primary-color);
    font-size: var(--icon-size);
    font-weight: bold;
}

.menu-button__icon--invisible {
    display: none;
}

/* BLOCKS */
.block {
    --block-background-color: #FFFFFF;
    --block-foreground-color: var(--secondary-color);
    --title-color: var(--primary-color);
    --subtitle-color: var(--secondary-color);
    --text-color: #111111;
    --icon-color: var(--secondary-color);
    --button-primary-color: var(--secondary-color);
    --button-secondary-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    background-color: var(--block-background-color);
}

.block--white-purple {
    --block-background-color: #FFFFFF;
    --block-foreground-color: var(--primary-color);
    --title-color: var(--primary-color);
    --subtitle-color: #111111;
    --text-color: #111111;
    --icon-color: var(--primary-color);
    --in-container-title-color: #FFFFFF;
    --in-container-text-color: #FFFFFF;
    --in-container-icon-color: #FFFFFF;
    --button-primary-color: var(--primary-color);
    --button-secondary-color: #FFFFFF;
}

.block--purple-yellow {
    --block-background-color: var(--primary-color);
    --block-foreground-color: var(--secondary-color);
    --title-color: var(--secondary-color);
    --subtitle-color: #FFF;
    --text-color: #FFF;
    --icon-color: var(--secondary-color);
    --in-container-title-color: #FFFFFF;
    --in-container-text-color: #FFFFFF;
    --button-primary-color: var(--secondary-color);
    --button-secondary-color: #FFFFFF;
}

.block--purple-white {
    --block-background-color: var(--primary-color);
    --block-foreground-color: #FFFFFF;
    --title-color: #FFFFFF;
    --subtitle-color: #FFFFFF;
    --text-color: #FFFFFF;
    --icon-color: #FFFFFF;
    --in-container-title-color: #111111;
    --in-container-text-color: #111111;
    --in-container-icon-color: var(--primary-color);
    --button-primary-color: #FFFFFF;
    --button-secondary-color: var(--primary-color);
}

.block--yellow-purple {
    --block-background-color: var(--secondary-color);
    --block-foreground-color: var(--primary-color);
    --title-color: #FFFFFF;
    --subtitle-color: #FFFFFF;
    --text-color: #FFFFFF;
    --icon-color: var(--primary-color);
    --in-container-title-color: var(--secondary-color);
    --in-container-text-color: #FFFFFF;
    --in-container-icon-color: #FFFFFF;
    --button-primary-color: var(--primary-color);
    --button-secondary-color: #FFFFFF;
}

.block--goal {
    --block-background-color: var(--darker-gray-color);
    --block-foreground-color: var(--secondary-color);
    --title-color: var(--primary-color);
    --subtitle-color: var(--secondary-color);
    --text-color: #111111;
    --button-primary-color: var(--secondary-color);
    --button-secondary-color: #FFFFFF;
    padding: 50px 0;
    text-align: center;
}

.block--goal .block-row__text{
    font-weight: bold;
    text-align: center;
}

.block--gray {
    --block-background-color: var(--lighter-gray-color);
    --block-foreground-color: var(--secondary-color);
    --title-color: var(--primary-color);
    --subtitle-color: var(--secondary-color);
    --text-color: #111111;
    --button-primary-color: var(--secondary-color);
    --button-secondary-color: #FFFFFF;
}

.block-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    justify-content: space-between;
    margin: 25px;
}

.block-column {
    width: 100%;
    margin: auto;
}

.block-column,
.block-column__body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.block-row__header--center{
    text-align: center;
}

.block-row__label {
    margin-bottom: 10px;
    color: var(--block-foreground-color);
    font-family: 'Poppins', Helvetica, sans-serif;
    font-size: var(--label-text-size);
    font-weight: bold;
    text-transform: capitalize;
}

.block-row__title {
    color: var(--title-color);
    font-family: 'Poppins', Helvetica, sans-serif;
    font-size: var(--title-text-size);
}

.block-row__title--bigger {
    font-size: calc(1.25*var(--title-text-size));
}

.block-row__title--wrapped {
    width: max-content;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: var(--block-foreground-color);
    color: var(--in-container-title-color);
}

.block-row__subtitle {
    color: var(--subtitle-color);
    font-family: 'Poppins', Helvetica, sans-serif;
    font-size: var(--subtitle-text-size);
}

.block-row__item-icon{
    position: absolute;
    left: -10px;
    color: var(--block-foreground-color);
    font-size: calc(2*var(--icon-size));
}

.block-column__item-icon--circle{
    left: initial;
    right: -5px;
    bottom: -40px;
    display: block;
    padding: 8px;
    border-radius: 50%;
    background-color: var(--block-foreground-color);
    box-shadow: -8px -8px var(--block-background-color);
    color: var(--text-color);
}

.block-row__text-section--contrained {
    position: relative;
    padding: 0 20px 10px 40px;  
}

.block-row__text-section--very-contrained{
    position: relative;
    padding: 0 0 10px 50px;
}

.block-row__text, .block-column__list {
    color: var(--text-color);
    font-size: var(--normal-text-size);
}

.block-row__text--purple{
    color: var(--primary-color);
}

.block-row__text--yellow{
    color: var(--secondary-color);
}

.block-row__text--white{
    color: #FFFFFF;
}

.block-column__list{
    margin: 20px auto;
}

.block-column__list-item {
    margin-bottom: 20px;
}

.block-column__list-item--with-icon{
    display: flex;
    gap: 5px;
    align-items: center;
}

.block-column__list-item-icon {
    color: var(--icon-color);
    font-size: var(--title-text-size);
    font-weight: bold;
}

.block-row__image{
    margin: 20px auto;
}

.block-row__image img{
    max-width: 100%;
    height: auto;
}

.block-column__title {
    color: var(--in-container-title-color);
    font-family: 'Poppins', Helvetica, sans-serif;
    font-size: var(--subtitle-text-size);
    font-weight: bold;
} 

.block-column__text {
    color: var(--in-container-text-color);
    font-size: var(--normal-text-size);
}

/* EXPLANATION CARDS */
.explanation-card {
    position: relative;
    padding: 20px;
    border-radius: 0 50px 50px 50px;
    background-color: var(--block-foreground-color);
    color: #FFF;
}

.explanation-card .block-column__list{
    list-style: none;
    color: #FFFFFF;
}

/* BOTÃO SAIBA MAIS */
.learn-more {
    display: block;
    margin: 10px auto;
    padding: 12px 20px;
    border: 3px solid var(--button-primary-color);
    border-radius: 50px;
    background-color: var(--button-primary-color);
    color: var(--button-secondary-color);
    font-family: 'Poppins', Helvetica, sans-serif;
    font-size: var(--normal-text-size);
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.learn-more:hover {
    background-color: var(--button-secondary-color);
    color: var(--button-primary-color);
    transition: all .3s ease;
}

/* HASHTAG */
.hashtag-area {
    margin-top: 10px;
    font-size: var(--normal-text-size);
}

.hashtag-area__hashtag {
    font-weight: 800;
}

/* BOXES */
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 20px;
    margin: 20px auto;
    background-color: var(--block-foreground-color);
    color: #fff;
    text-align: center;
}

.box__icon{
    font-size: var(--big-icon-size);
}

.box__title{
    font-family: 'Poppins', Helvetica, sans-serif;
    font-size: var(--label-text-size);
    font-weight: bold;
}

.box__text{
    font-size: var(--normal-text-size);
}

.box__link {
    color: var(--secondary-color);
    border-bottom: 3px solid var(--secondary-color);
    font-weight: 800;
}

.box__footer{
    padding-top: 10px;
}

.learn-more--box {
    background-color: #FFFFFF;
    color: var(--secondary-color);
    font-weight: bold;
}

.learn-more--box:hover {
    background-color: var(--secondary-color);
    color: var(--block-background-color);
    transition: all .3s ease;
}

/* CAROUSEL */
.block-column--carousel{
    max-width: 100%;
}

.carousel{
    position: relative;
}

.carousel__arrow-button{
    position: absolute;
    top: 45%;
    display: none;
    align-items: center;
    color: var(--primary-color);
    font-size: calc(2*var(--icon-size));
    z-index: 2;
}

.carousel__arrow-button--forward{
    right: -50px;
}

.carousel__arrow-button--back{
    left: -50px;
}

.carousel__arrow-button--no-top{
    top: 0;
}

.carousel__container{
    display: flex;
    width: 100%;
    overflow-x: auto;
    transform: translateX(0%);
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none; 
}

.carousel__container::-webkit-scrollbar{
    display: none;
}

.carousel__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 100%; 
    background-size: cover;
    background-position: center;
    text-align: center;
}

.carousel__title{
    color: #fff;
    font-family: 'Poppins', Helvetica, sans-serif;
    font-size: var(--title-text-size);
    text-transform: capitalize;
}

.carousel__subtitle{
    color: var(--lighter-gray-color);
    font-size: var(--subtitle-text-size);
}

.carousel__disclaimer{
    display: block;
    max-width: max-content;
    margin: 10px auto;
    color: var(--text-color);
    text-align: center;
    opacity: .4;
}

/* CARDS */
.cards-container,
.card {
    display: flex;
    flex-direction: column;
}

.cards-container {
    gap: 40px;
    text-align: center;
    box-shadow: inset 4px 4px 8px var(--darker-gray-color),
                inset -4px -4px 8px var(--darker-gray-color);
}

.card{
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    color: var(--text-color);
    font-size: var(--normal-text-size);
    box-shadow: 4px 4px 10px var(--darker-gray-color);
    cursor: pointer;
}

.card:hover {
    box-shadow: 5px 5px 15px var(--secondary-color);
}

.card__image {
    width: 240px;
    height: 200px;
    background-position: center;
    background-size: cover;
} 

/* ÍCONE DA PROPAGO*/
.propago-icon {
    width: calc(var(--big-icon-size) - var(--icon-size));
    height: calc(var(--big-icon-size) - var(--icon-size));
}

/* FOOTER */
.footer{
    border-top: 3px solid var(--text-color);
}

.footer,
.footer-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--primary-color);
    color: #FFF;
    font-size: 1.5em;
}

.footer__section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.footer__image,
.footer__label {
    margin: 10px auto;
    font-weight: bold;
    text-align: center;
}

.footer__navbar-list  {
    width: max-content;
    margin: auto;
    list-style: none;
    text-align: center;
}

.footer__navbar-list--dropdown {
    text-align: left;
    margin-left: 2em;
    background-color: #FFF;
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
}

.footer__navbar-list--dropdown .footer__nav-link {
    color: var(--primary-color);
    padding: 8px;
}

.footer__navbar-list--invisible {
    display: none;
}

.footer__nav-item {
    padding: 5px;
}

.footer__nav-item--dropdown {
    cursor: pointer;
}

.footer__nav-item--active{
    background-color: var(--primary-color);
}

.footer__dropdown-button {
    color: #FFFFFF;
    font-size: var(--label-text-size);
    font-weight: bold;
    transform: rotate(0deg);
    transition: transform .3s;
}

.footer__dropdown-button--rotate {
    transform: rotate(180deg);
}

.footer a {
    color: #fff;
}

.footer a:hover {
    color: var(--secondary-color);
}

.footer__nav-item--active .footer__nav-link{
    font-weight: bold;
    color: var(--secondary-color);
}

.footer__social-media-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: auto;
}

.footer__social-media {
    padding: 10px;
    border-radius: 50%;
    background-color: var(--text-color);
}

.footer__social-media a {
    font-size: var(--subtitle-text-size);
}

.footer__foot {
    padding: 15px 0;
    background-color: var(--text-color);
    font-family: 'Poppins', Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

/* TABLETS E DESKTOPS */
@media (min-width: 1024px) {
    /* VARIÁVEIS */

    /* MENU */
    .menu {
        position: initial;
        width: 45%;
        background-color: transparent;
        visibility: visible;
    }

    .menu__item-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
    }

    .menu__item {
        flex: 1;
        border-bottom: none;
        text-align: center;
        overflow: hidden;
    }

    .menu__item--active {
        border-radius: 10px;
        background-color: var(--primary-color);
    }

    .menu__item:hover * {
        color: var(--secondary-color);
    }

    .menu__item * {
        color: var(--primary-color);
    }

    .menu__item--highlighted {
        border-radius: 10px;
        background-color: var(--secondary-color);
    }

    .menu__item--highlighted * {
        color: #FFFFFF;
    }

    .menu__item--highlighted:hover * {
        color: #FFFFFF;
        font-weight: bold;
    }

    .menu__link {
        padding: 10px;
    }

    .menu__dropdown-links {
        position: absolute;
        border: 2px solid var(--secondary-color);
        border-radius: 10px;
        background-color: #FFFFFF;
        text-indent: initial;
    }

    .menu__dropdown-links--invisible {
        border: none;
    }

    .menu__dropdown-links .menu__link{
        padding: 10px 22px;
    }

    .menu__item-clapboard,
    .menu-button {
        display: none;
    }

    /* BLOCOS */
    .block {
        padding: 50px 0;
    }

    .block-row {
        flex-direction: row;
        justify-content: center;
        margin: auto 75px;
    }
    
    .block-row__title--bigger {
        font-size: calc(2*var(--title-text-size));
    }

    .block-row--reverse{
        flex-direction: row-reverse;
    }

    .block-column{
        flex: 1;
        width: 50%;
        padding: 20px;
    }

    .block-column__list{
        margin: 0 30px;
    }

    /* CARDS */
    .cards-container {
        flex-direction: row;
    }

    .card {
        flex: 1;
    }

    /* CAROUSEL */
    .carousel__arrow-button {
        display: flex;
    }

    .carousel__disclaimer{
        display: none;
    }

    /* CARDS */  
    .cards-container{
        flex-direction: row;
        padding: 20px;
    }
    
    /* ÍCONE DA PROPAGO*/
    .propago-icon {
        width: var(--big-icon-size);
        height: var(--big-icon-size);
    }

    /* FOOTER */
    .footer {
        display: grid;
        grid-template-areas: "Lsection Msection Rsection"
            "foot foot foot";
        grid-template-columns: 2fr 1fr 2fr;
    }

    .footer__section {
        padding: 40px 20px;
    }

    .footer__section:first-of-type {
        margin-left: 4em;
    }

    .footer__image {
        display: flex;
    }

    .footer__contact {
        margin-right: 4em;
    }

    .footer__social-media-icon {
        font-size: 1.5em;
    }

    .footer__info-container {
        width: max-content;
        margin: auto;
    }

    .footer__foot {
        grid-area: foot;
    }
}

@media (min-width: 1440px) {
    .block-row {
        margin: auto 250px;
    }
}