/* MAIN IMAGE */
.main-image {
    transform: scale(1.15);
}

/* TILES */
.tiles-container,
.tile {
    display: flex;
    flex-direction: column;
}

.tiles-container {
    gap: 20px;
}

.tile {
    gap: 20px;
    padding: 30px;
    border-radius: 80px;
    background-color: var(--primary-color);
    text-align: center;
}

.tile__icon {
    color: var(--in-container-icon-color);
    font-size: var(--big-icon-size);
}

.tile__title {
    color: var(--in-container-title-color);
    font-family: 'Poppins', sans-serif;
    font-size: var(--subtitle-text-size);
    font-weight: bold;
}

.tile__text {
    color: var(--in-container-text-color);
    font-size: var(--normal-text-size);
}

/* CAROUSELS */
.pns-images-container{
    display: flex;
    width: 256px;
    margin: auto;
    border: 3px solid var(--primary-color);
    border-radius: 25px;
}

.partners-images-container{
    width: 179px;
    margin: auto;
}

/* IMAGEM DOS PARCEIROS */
.images-container{
    display: flex;
    padding: 30px 0;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

/* PRODUCT BOXES */
.product-boxes-container{
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10em;
    justify-content: center;
    width: 60%;
    margin: auto;
}

.product-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.product-box__tile {
    padding: 15px;
    border-radius: 20px;
    background-color: var(--block-foreground-color);
    color: var(--block-background-color)
}

.product-box__icon {
    font-size: calc(3*var(--icon-size));
}

.product-box__legend {
    color: var(--text-color);
    font-size: var(--normal-text-size);
    font-weight: bold;
    text-align: center;
}

/* CONTRIBUTE */
.contribute {
    position: relative;
}

.contribute__box--northwest {
    border-radius: 0 50px 50px 50px;
}

.contribute__image {
    width: 280px;
    height: 350px;
    margin: auto;
    background-position: center;
    background-size: cover;
}

.contribute__box--southeast {
    border-radius: 50px 50px 0 50px;
}

@media (min-width: 1024px){
    .main-image {
        transform: scale(1.5); 
    }

    .tiles-container{
        flex-direction: row;
    }

    .tile{
        flex: 1;
    }

    .pns-images-container{
        width: 512px;
    }

    .contribute__box{
        position: absolute;
        width: 320px;
    }

    .contribute__box--northwest {
        left: 20px;
    } 

    .contribute__box--southeast {
        right: -20px;
        bottom: -20px;
    }

    .contribute__image {
        width: 780px;
        height: 850px;
    }

    .partners-images-container{
        width: 100%;
    }
}