.posts-container{
    display: flex;
    gap: 50px;
}

.post{
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    border: 3px double #FFFFFF;
    border-radius: 50px;
    background-color: var(--block-foreground-color);
    color: #FFFFFF;
    outline: 2px solid var(--secondary-color);
    text-align: center;
    opacity: 1;
    overflow-x: hidden;
}

.post__image{
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.post__body{
    display: flex;
    flex-direction: column;
    height: 30%;
}

.post__title{
    margin: auto;
    padding: 10px;
    text-transform: capitalize;
    font-size: var(--icon-size);
}

.post__metadata{
    padding: 5px 10px;
    font-size: var(--normal-text-size);
}

.post__info{
    list-style-type: none;
}

.post__footer{
    padding: 10px;
}

.post__button{
    display: block;
    width: max-content;
    padding: 10px;
    margin: auto;
    border: 2px solid var(--block-foreground-color);
    border-radius: 5px;
    background-color: var(--in-container-text-color);
    color: var(--block-foreground-color);
    font-size: var(--normal-text-size);
    font-weight: 500;
}

.post__button:hover{
    box-shadow: 1px 1px 2px var(--block-foreground-color),
                -1px -1px 2px var(--block-foreground-color);
    font-weight: bolder;
}

.no-post {
    padding: 20px;
    margin: auto;
    border: 3px solid #BD0000;
    border-radius: 10px;
    background-color: var(--lighter-gray-color);
    text-align: center;
}

.no-post__title {
    color: #BD0000;
    font-size: var(--title-text-size);
    text-transform: capitalize;
}

.no-post__message {
    font-size: 16px;
    color: #111111;
}

@media (min-width: 1024px){
    .posts-container{
        overflow-x: auto;
    }
}