/* PRODUCT PLAN */
.product-plan-container {
    display: flex;
    flex-direction: column;
    gap: 6em;
    width: 100%;
    padding: 5em 0;
}

.product-plan {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100%;
    padding: 4em 1.5em 1.5em 1.5em;
    border: 3px solid #FFFFFF;
    border-radius: 25px;
    background-color: var(--primary-color);
}

.product-plan__top {
    position: absolute;
    width: 100%;
    left: 10px;
    top: -25px;
}

.product-plan__top--center {
    left: 0;
    display: grid;
    place-items: center;
}

.product-plan__name {
    width: max-content;
    padding: 5px 8px;
    border: 2px solid #FFFFFF;
    border-radius: 50px;
    background-color: #00CC00;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: var(--label-text-size);
    font-weight: 800;
    z-index: 2;
}

/* PRICE BOXES */
.price-box {
    display: flex;
    flex-direction: column;
    border: 3px solid #FFFFFF;
    border-radius: 20px;
    background-color: #FFFFFF;
    font-size: var(--normal-text-size);
    text-align: center;
    overflow: hidden;
}

.price-box__header {
    padding: .8em;
    background-color: var(--secondary-color);
    color: #FFFFFF;
    font-weight: 600;
}

.price-box__header--premium {
    background-color: var(--primary-color);
}

.price-box__content {
    display: flex;
    flex-direction: column;
    padding: .5em 1em;
}

.price-box__value {
    font-size: 3em;
}

.price-box__value--cents {
    font-size: .5em;
}

.price-box__percentage {
    font-size: .9em;
}

.price-box__footer {
    padding: .3em .5em 1em .5em;
    font-weight: 600;
}

.price-box__icon {
    font-weight: normal;
    color: #FF0000;
}

.price-box__icon--green {
    color: #00CC00;
}

/* BLOCK STUFF */
.block-row__button {
    margin: 10px auto;
    padding: 10px 20px;
    border: 5px solid var(--block-foreground-color);
    border-radius: 50px;
    background-color: var(--text-color);
    color: var(--block-background-color);
    font-size: var(--icon-size);
    font-weight: bold;
    text-transform: uppercase;
}

.block-row__button:hover{
    border-color: var(--text-color);
    background-color: var(--block-foreground-color);
    color: var(--text-color);
    transition: .6s ease;
}

/* PLANOS */
.plan{
    background-color: var(--block-foreground-color);
    border: 3px solid var(--block-foreground-color);
    border-radius: 40px;
    overflow: hidden;
}

.plan__title{
    position: relative;
    padding: 10px;
    background-color: var(--block-background-color);
    color: var(--block-foreground-color);
    font-size: var(--label-text-size);
    text-align: center;
}

.plan__title--highlighted{
    background-color: var(--secondary-color);
}

.plan__table{
    width: 100%;
    margin: 30px 0;
    font-size: 16px;
    border-collapse: collapse;
}

.plan__table-cell{
    padding: 4px;
    background-color: var(--lighter-gray-color);
}

.plan__table-cell--blank{
    background-color: #FFFFFF;
}

.plan__table-data{
    text-align: center;
}

/* .plan__table-icon-container {
    padding-left: 12px;
} */

.plan__table-icon{
    color: #228b22;
}

.plan__table-icon--cancel{
    color: #FF0000;
}

/* PLAN ROW */
.plan-row{
    display: flex;
    flex-direction: column;
    border: 4px solid var(--block-foreground-color);
    border-radius: 15px;
    overflow: hidden;
} 

.plan-row__cell{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--block-foreground-color);
    padding: .4em;
    font-size: var(--subtitle-text-size);
    font-weight: 800;
}

.plan-row__cell--highlighted{
    background-color: var(--block-foreground-color);
    color: var(--block-background-color);
}

.plan-row__price{
    display: flex;
}

.plan-row__price--main {
    font-size: 2em;
}

/* Other stuff */
.icon-container{
    min-width: 256px;
}

.warning{
    --strong-color: #8B0000;
    --light-color: #FFCCCC;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border: 2px solid var(--strong-color);
    border-radius: 10px;
    background-color: var(--light-color);
}

.warning__title{
    color: var(--strong-color);
    font-weight: 800;
    text-transform: uppercase;
}


@media (min-width: 1024px) {
    .icon-container{
        width: 512px;
    }

    .product-plan-container, .product-plan {
        flex-direction: row;
    }

    .product-plan-container {
        width: max-content;
    }

    .plan-row {
        flex-direction: row;
    }

    .plan-row__cell{
        padding: 1em;
    }

    .plan-row__price--main{
        font-size: 2.8em;
    }
}