/* BLOCK STUFF */

.block--white-purple{
    --block-background-color: #FFFFFF;
    --block-foreground-color: var(--primary-color);
    --title-color: #FFFFFF;
    --text-color: #111111;
    --subtitle-color: #111111;
}

.block--purple-yelow{
    --block-background-color: var(--primary-color);
    --block-foreground-color: var(--secondary-color);
    --title-color: #FFF;
    --subtitle-color: #FFF;
    --text-color: #FFF;
    background-color: var(--block-background-color); /* erase this later */
}

.block-row__text-section--contrained {
    position: relative;
    padding: 0 40px 10px;  
}

.block-row__text-section--very-contrained{
    position: relative;
    padding: 0 0 10px 50px;
}

.block-row__item-icon{
    position: absolute;
    left: -10px;
    color: var(--block-foreground-color);
    font-size: calc(2*var(--icon-size));
}

.block-row__item-icon--circle{
    left: initial;
    right: -30px;
    bottom: -35px;
    display: block;
    padding: 8px;
    border-radius: 50%;
    background-color: var(--block-foreground-color);
    box-shadow: -8px -8px var(--block-background-color);
    color: var(--text-color);
}

.block-row__title--rounded {
    width: max-content;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: var(--block-foreground-color);
}

.block-row__button {
    padding: 10px 20px;
    border: 5px solid var(--block-foreground-color);
    border-radius: 50px;
    background-color: var(--text-color);
    color: var(--block-background-color);
    font-size: var(--icon-size);
    font-weight: bold;
    text-transform: uppercase;
}

.explanation-card {
    position: relative;
    padding: 20px;
    border-radius: 0 50px 50px 50px;
    background-color: var(--block-foreground-color);
    color: #FFF;
}

.explanation-card .block-row__list{
    list-style: none;
    color: #FFF;
}


/* Other stuff */
.icon-container{
    min-width: 256px;
}

.warning{
    --strong-color: #8B0000;
    --light-color: #FFCCCC;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border: 2px solid var(--strong-color);
    border-radius: 10px;
    background-color: var(--light-color);
}

.warning__title{
    color: var(--strong-color);
    font-weight: 800;
    text-transform: uppercase;
}


@media (min-width: 1024px) {
    .icon-container{
        width: 512px;
    }
}